In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv('Bankruptcy data set_Global from Compustat.csv - Bankruptcy data set_Global from Compustat.csv.csv')

In [4]:
df.head()

,Country,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,Dependent Variable (Bankruptcy)
0,Japan,4500.0,133000.0,17000.0,15000.0,4300.0,118700.0,101100.0,14600.0,68500.0,13500.0,15,0
1,Japan,2200.0,118900.0,9700.0,5000.0,4500.0,75600.0,88200.0,32800.0,60900.0,6400.0,15,0
2,Japan,6800.0,219400.0,44100.0,85700.0,11100.0,116200.0,174000.0,9400.0,81100.0,11200.0,20,0
3,Japan,3000.0,223200.0,35800.0,41800.0,6000.0,104000.0,206000.0,1600.0,64800.0,5800.0,20,0
4,Japan,3500.0,196500.0,32800.0,43700.0,6000.0,88700.0,150400.0,200.0,66800.0,6400.0,20,0

In [5]:
df.columns

Index(['Country', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10',
       'V11', 'Dependent Variable (Bankruptcy)'],
      dtype='object')

In [6]:
df.shape

(468, 13)

In [7]:
df_train = df.iloc[:374, :]
df_test  = df.iloc[374:, :]

In [8]:
df_train.to_csv('Train.csv')

In [9]:
df_test.to_csv('Test.csv')